@page
@model SportfieldbookingWEB1.Pages.Eventos.EditModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evento</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-sumary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Evento.Id" />
			<div class="form-group">
				<label asp-for="Evento.NombreEvento" class="control-label"></label>
				<input asp-for="Evento.NombreEvento" class="form-control" />
				<span asp-validation-for="Evento.NombreEvento" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-for="Evento.FechaEvento" class="control-label"></label>
				<input asp-for="Evento.FechaEvento" class="form-control" />
				<span asp-validation-for="Evento.FechaEvento" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-for="Evento.HoraInicio" class="control-label"></label>
				<input asp-for="Evento.HoraInicio" class="form-control" />
				<span asp-validation-for="Evento.HoraInicio" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-for="Evento.HoraFin" class="control-label"></label>
				<input asp-for="Evento.HoraFin" class="form-control" />
				<span asp-validation-for="Evento.HoraFin" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-for="Evento.Descripcion" class="control-label"></label>
				<input asp-for="Evento.Descripcion" class="form-control" />
				<span asp-validation-for="Evento.Descripcion" class="text-dager"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="save" class="btn btn-success" />
				<a asp-page="./Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>
